FRONTEND_URL=https://your-vercel-frontend-domain
API_URL=https://api.yetrixtechnologies.com
MAILCOW_BASE_URL=https://mail.yetrixmails.com
MAIL_DOMAIN=yetrixtechnologies.com
MAIL_SERVER_IP=56.228.11.175
